/*global settings*/
:root{
  --dark: #0c3559;
  --light: #08289b; 
}
* {
  margin: 1%;
  padding: 0;
  box-sizing: border-box;
  
  }
  
body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
  }
  
header{
  color: rgb(13, 13, 131);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

.timer {
  text-align: right;
  margin-top: -2%;
}

/*various headings*/
.start-container{
  position:relative;
}

h1 {
  font-size: 300%;
  text-align: center;
  font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif
}

p {
  font-size: 150%;
  text-align: center;
  font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif
}

#start-button {
  cursor:pointer;
  position:absolute;
  align-items: center;
  display:block;
  margin-left:44%;
  margin-right:auto;
  background-image: linear-gradient(92.88deg, #0c3559 9.16%, #2724a8 43.89%, #3f44d7 64.72%);
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  padding:1%;
  margin-top: 5%;
  /* margin-left:41%; */
  box-shadow: 2px 25px rgba(5, 87, 164, 0.5);
  box-shadow: 0px 2px 15px rgba(5, 87, 164, 0.5);
}

#start-button:hover {
  background-color: #0c3559;
  box-shadow: 0 8px 16px 0 #0c3559, 0 6px 20px 0 rgba(0,0,0,0.19);
}

.hidden {
  display:none;
}

.center {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:20%;
}

.center-1 {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:2%;
  width:10%;
  height: 10%;
}

.center-2 {
  cursor:pointer;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:2%;
  padding:5%;  
  width:10%;
}

h1 {
  margin-top: -50px;
}

a {
  font-size: 20px;
  cursor:pointer;

}
.instructions{
  font-family:Arial, Helvetica, sans-serif;
  font-stretch: extra-expanded;
  font-size: 25px;
  font-kerning: auto;
}

  /* .small-image{
    display:inline;
    margin-left:auto;
    margin-right:auto;
    width:8%;
    /* margin-top:-1%; */
 

/* .lower-right{
  width:25%;
  margin-left: 75%;
} */

.questions-container{
  display: block;
  font-size: 35px;
  text-align: center;
  margin-top: 8%;
}

#question-divs {
  display:inline;
  margin-left:50%;
  /* margin-right:auto; */
  margin-top:50%;
  width:20%;
  font-size:25px;
  text-align: center;
  align-items: center;
}

.answer-btn{
  background-image: linear-gradient(92.88deg, #0c3559 9.16%, #2724a8 43.89%, #3f44d7 64.72%);
  border-radius: 8px;
  border-style: none;
  /* box-sizing: border-box; */
  width:50%;
  color: #FFFFFF;
  cursor: pointer;
  /* flex-shrink: 0; */
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-items: center;
  box-shadow: 2px 25px rgba(5, 87, 164, 0.5);
  box-shadow: 0px 2px 15px rgba(5, 87, 164, 0.5);
}

.answer-btn:hover {
  background-color: #0c3559;
  box-shadow: 0 8px 16px 0 #0c3559, 0 6px 20px 0 rgba(0,0,0,0.19);
}

#submit-btn {
  background-image: linear-gradient(92.88deg, #08289b 9.16%, #2724a8 43.89%, #3f44d7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  flex-wrap: wrap;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-content: center;
}

#submit-btn:hover {
  background-color: #0c3559;
  box-shadow: 0 8px 16px 0 #0c3559, 0 6px 20px 0 rgba(0,0,0,0.19);
}

h3 {
  font-size: 170%;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.the-office-image {
  display:block;
  margin-top:15%;
  width:50%;
  height: 50%;
  margin-left:26%;
  /* align-items: center; */
}

#high-scores:hover {
  color: #fff;
  box-shadow:inset 225px 0px 0px 0 #233173;

}
  ol, ul {
    list-style: none;
  }

  @media screen and (max-width: 1024px) {

    .btn, .instructions,  #submit-btn, .instructions {
        width: 100%;
        display:flex;
        order: 4;
        flex-direction:row;
        flex-wrap:wrap;
        font-size: 3.0vw;
        align-content:space-around;
        columns: 1;
    }

    .the-office-image {
        /* flex-shrink: inherit;
        flex-wrap: wrap; */
        display: flex;
        flex-wrap: wrap;  
        flex-direction:row;
        flex-direction:row;
        align-self:flex-start; 
        align-content: space-around;
        line-height: 2;
        margin:0;
        height:200px;
        
    }

    h1 {
        font-size: 4.5vw;
    }

    p {
        font-size: 3.0vw;
    }

}





  /* .col-2 {width: 16.66%;};
  .col-3 {width: 25%;};
  .col-4 {width: 33.33%;};
  .col-5 {width: 41.66%;};
  .col-6 {width: 50%;};
  .col-7 {width: 58.33%;};
  .col-8 {width: 66.66%;};
  .col-9 {width: 75%;};
  .col-10 {width: 83.33%;};
  .col-11 {width: 91.66%;};
  .col-12 {width: 100%;};
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /* [class*="col-"] {
      width: 100%;
    }
  } */ */

  /* Matches the font of special elements to the rest of the page */
  /* input, select, option, optgroup, textarea, button,
  pre, code {
    font-size: 100%;
    font-family: inherit;
  } */